<a href="https://colab.research.google.com/github/nicolejade2502/Jadewy4100E211/blob/main/10202021__4100E211.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
def sum(i1, i2,i3):
  result = 0
  for i in range(i1, i2, i3):
      result += i
      return result

def main ():
  print("Sum from 5 to 30 is", sum(5, 30, 1))
  print("sum from 22 to 50 is", sum(3, 50, 2))
  print("sum from 10 to 40 is",sum(7, 40, 3))

main() # Call the main function

Sum from 5 to 30 is 5
sum from 22 to 50 is 3
sum from 10 to 40 is 7

In [21]:
def swap(k,n):
  k,n = n,k
  return(k,n)

if __name__ == '__main__':
  k = 19
  n = 25
  print('k = %d,n = %d' % (k,n))
  k,n = swap(k,n)
  print('k = %d,n = %d' % (k,n))

k = 19,n = 25
k = 25,n = 19

In [51]:
def sort(number1, number2, number3):
    if (number1 < number2) and (number1 < number3):
      if number2 < number3:
        return number1, number2,number3
      else:
        return number1, number3,number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1,number3
      else:
        return number2, number3,number1    
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1,number2
      else:
        return number3, number2,number1 
        
num1,num2,num3 = sort(3,31,20)

print("num1 is", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is 3
num2 is 20
num3 is 31

In [65]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 21, height = 26):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

## **default arguments**

In [68]:
printArea()

width: 21 	height: 26 	area: 546

## **Keyword arguments**

In [66]:
printArea(width = 11 , height = 20)

width: 11 	height: 20 	area: 220

In [67]:
printArea(height = 20, width = 11)

width: 11 	height: 20 	area: 220

## **Positional arguments**

In [ ]:
printArea(11,20)

In [69]:
printArea(20,11)

width: 20 	height: 11 	area: 220

In [ ]:
f1 = lambda x, y, z: x+4*y+5*z
print(f1(3,31,20))

In [70]:
def myfunc(m):
    return m*m

my_list = [9, 25, 2, 11, 31]

## 使用python的map()

print(list(map(lambda x:myfunc(x), my_list)))

[81, 625, 4, 121, 961]